{% extends 'admin/base.html.twig' %}

{% block title %}
	{{ 'Users'|trans }}
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div
			class="main-header">
			<!-- Logo Header -->
			{% include 'admin/partial/logoheader.html.twig' %}
			<!-- End Logo Header -->
			{% include 'admin/partial/navbar.html.twig' %}
		</div>
		{% include 'admin/partial/sidebar.html.twig' %}


		{# begin datatable #}
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<div class="page-header">
						<h4 class="page-title">{{ 'Users'|trans }}</h4>
						<ul class="breadcrumbs">
							<li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">{{ 'Users'|trans }}</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">{{ 'list'|trans }}</a>
							</li>
						</ul>
					</div>
					{% include 'admin/partial/alert.html.twig' %}
					<div class="row">
						<div class="col-md-12">
							{% if not is_granted('ROLE_ADMIN') %}
								<div class="card">
									<div
										class="card-body">
										<!-- Modal -->
										<div class="d-inline-block">
											<form class="form-inline" accept-charset="utf-8">

												<div class="form-group ml-2">
													<select name="group" class="form-control">
														<option value="">{{ 'groupe'|trans }}</option>
														{% for group in groups %}
															<option value="{{ group.id }}" {% if app.request.get('group') == group.id %} selected {% endif %}>{{ group }}</option>
														{% endfor %}
													</select>
												</div>

												<div class="form-group ml-2">
													<select name="status" class="form-control">
														<option value="">{{ 'Status'|trans }}</option>
														<option value="registered" {% if app.request.get('status') == 'registered' %} selected {% endif %}>{{ 'registered'|trans }}</option>
														<option value="not_registered" {% if app.request.get('status') == 'not_registered' %} selected {% endif %}>{{ 'not_registered'|trans }}</option>
													</select>
												</div>

												<div class="form-group ml-2">
													<select id="quiz-status" name="quiz_status" class="form-control">
														<option value="">{{ 'quiz-status'|trans }}</option>
														{% for key,value in statusQuiz %}
															<option value="{{ value }}" {% if app.request.get('quiz_status') == value %} selected {% endif %}>{{ key }}</option>
														{% endfor %}
													</select>
												</div>

												<div class="form-group ml-2">
													<select name="blacklist" class="form-control">
														<option value="">{{ 'blacklist'|trans }}</option>
														<option value="true" {% if app.request.get('blacklist') == 'true' %} selected {% endif %}>{{ 'yes'|trans }}</option>
														<option value="false" {% if app.request.get('blacklist') == 'false' %} selected {% endif %}>{{ 'no'|trans }}</option>
													</select>
												</div>

												<div class="form-group ml-2">
													<select name="enable" class="form-control">
														<option value="">{{ 'user_enable'|trans }}</option>
														<option value="true" {% if app.request.get('enable') == 'true' %} selected {% endif %}>{{ 'enabled'|trans }}</option>
														<option value="false" {% if app.request.get('enable') == 'false' %} selected {% endif %}>{{ 'disabled'|trans }}</option>
													</select>
												</div>

												<div class="form-group ml-2">
													<label for="group" class="sr-only">{{ 'role'|trans }}</label>
													<select name="role" class="form-control">
														<option value="">{{ 'role'|trans }}</option>
														<option value="role_company_admin" {% if app.request.get('role') == 'role_company_admin' %} selected {% endif %}>{{ 'admin'|trans }}</option>
														<option value="role_company_manager" {% if app.request.get('role') == 'role_company_manager' %} selected {% endif %}>{{ 'manager'|trans }}</option>
														<option value="role_user" {% if app.request.get('role') == 'role_user' %} selected {% endif %}>{{ 'user'|trans }}</option>
														<option value="role_anonymous" {% if app.request.get('role') == 'role_anonymous' %} selected {% endif %}>{{ 'unregistered'|trans }}</option>
													</select>
												</div>

												<div class="form-group ml-2">
													<input type="text" class="form-control" name="search" value="{{ app.request.get('search') }}" placeholder="{{ 'Recherche utilisateurs par : nom, prenom ou email'|trans }}" style="width: 350px;">
												</div>

												<div class="form-group ml-2">
													<button type="submit" class="btn btn-primary">{{ 'Filter'|trans }}</button>
												</div>

											</form>
										</div>
									</div>
								</div>
							{% endif %}
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">{{ 'add_user'|trans }}</h4>
										<a href="{{ path('admin_user_new') }}" class="btn btn-primary btn-round ml-auto">
											<i class="la la-plus"></i>
											{{ 'add_user'|trans }}
										</a>
									</div>
								</div>

								{# Begin import file user #}
								{% if is_granted('ROLE_COMPANY_ADMIN') and not is_granted('ROLE_ADMIN') %}
									{{ form_start(form, {'action': path('admin_import_user'), 'method': 'POST'})}}
									<div class="card-header">
										<div class="d-flex align-items-center">
											<h4 class="card-title">{{ 'import_user'|trans }}</h4>
											<div class="input-file input-file-image ml-auto">
												{{ form_widget(form.userImportFile,{'attr':{'class':'form-control form-control-file'}}) }}
												<label for="import_userImportFile" class="btn btn-primary btn-round">
													<i class="la la-plus"></i>
													{{ 'import_user'|trans }}
												</label>
												<label class="text-danger">{{ app.request.get('errorImportUsers') }}</label>
												{% if app.request.get('error') %}
													<label class="text-danger">{{ app.request.get('error') }}</label>
												{% endif %}
											</div>
											<div class="select2-input ml-3">
												{{ form_widget(form.group, { 'attr': { 'class': 'form-control' }}) }}
											</div>
											<input class="btn btn-success ml-3 " type="submit" value="{{ 'validate'|trans }} ">
										</div>
									</div>
									{{ form_end(form)}}
								{% endif %}
								{# End import user #}
								<div
									class="card-body">
									<!-- Modal -->
									<div class="table-responsive">
										{% if is_granted('ROLE_ADMIN') %}
											<div class="row">
												<div
													class="col-md-12 text-right">
													<!-- Modal -->
													<div class="d-inline-block">
														<form class="form-inline" accept-charset="utf-8">
															<div class="form-group">
																<input type="text" class="form-control" name="search" value="{{ app.request.get('search') }}" placeholder="{{ 'Recherche utilisateurs par : nom, prenom ou email'|trans }}" style="width: 350px;">
															</div>

															<div class="form-group ml-2">
																<button type="submit" class="btn btn-primary">{{ 'Recherche'|trans }}</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										{% endif %}
										<table id="users-datatable" class="display table table-striped table-hover">
											<thead>
												<tr>
													{% if app.user.roles[0] == "ROLE_ADMIN" or app.user.roles[0] == "ROLE_COMPANY_ADMIN" %}
														<th>#{{ 'select'|trans }}</th>
													{% endif %}
													{% if is_granted('ROLE_ADMIN') %}
														<th>{{ 'company'|trans }}</th>
													{% endif %}
													<th>{{ 'First name'|trans }}</th>
													<th>{{ 'Last name'|trans }}</th>
													<th>{{ 'Email'|trans }}</th>
													{% if is_granted('ROLE_COMPANY_ADMIN') %}
														<th>{{ 'Status'|trans }}</th>
													{% endif %}
													<th>{{ 'Roles'|trans }}</th>
													{% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_COMPANY_MANAGER') %}
														<th>{{ 'Group'|trans }}</th>
													{% endif %}
													{% if not is_granted('ROLE_ADMIN') %}
														<th>{{ 'Status Quiz'|trans }}</th>
														<th>{{ 'Blacklisted'|trans }}</th>
													{% endif %}
													<th>{{ 'Phone'|trans }}</th>
													<th>{{ 'enabled'|trans }}</th>
													<th>{{ 'date_of_creation'|trans }}</th>
													<th style="width: 10%">{{ 'action'|trans }}</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													{% if app.user.roles[0] == "ROLE_ADMIN" or app.user.roles[0] == "ROLE_COMPANY_ADMIN" %}
														<th>
															<input id="select-all" type="checkbox" onchange="checkButtonDelete()">
															<label>
																{{ 'select_all'|trans }}
															</label>
														</th>
													{% endif %}
													{% if is_granted('ROLE_ADMIN') %}
														<th>{{ 'company'|trans }}</th>
													{% endif %}
													<th>{{ 'First name'|trans }}</th>
													<th>{{ 'Last name'|trans }}</th>
													<th>{{ 'Email'|trans }}</th>
													{% if is_granted('ROLE_COMPANY_ADMIN') %}
														<th>{{ 'Status'|trans }}</th>
													{% endif %}
													<th>{{ 'Roles'|trans }}</th>
													{% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_COMPANY_MANAGER')  %}
														<th>{{ 'Group'|trans }}</th>
													{% endif %}
													{% if not is_granted('ROLE_ADMIN') %}
														<th>{{ 'Status Quiz'|trans }}</th>
														<th>{{ 'Blacklisted'|trans }}</th>
													{% endif %}
													<th>{{ 'Phone'|trans }}</th>
													<th>{{ 'enabled'|trans }}</th>
													<th>{{ 'date_of_creation'|trans }}</th>
													<th style="width: 10%">{{ 'action'|trans }}</th>
												</tr>
											</tfoot>
											<tbody>

												{% for user in users %}
													<tr>
														{% if app.user.roles[0] == "ROLE_ADMIN" or app.user.roles[0] == "ROLE_COMPANY_ADMIN" %}
															<td>
																{% if app.user.id != user.id %}
																	<input type="checkbox" class="delete_check" onchange="checkButtonDelete()" value="{{ user.id }}">
																{% endif %}
															</td>
														{% endif %}
														{% if app.user.roles[0] == "ROLE_ADMIN" %}
															<td>{{ user.company.name }}</td>
														{% endif %}
														<td>{{ user.firstName }}</td>
														<td>{{ user.lastName }}</td>
														<td>{{ user.email }}</td>
														{% if is_granted('ROLE_COMPANY_ADMIN') %}
															<td>
																{% if user.roles[0] == "ROLE_ANONYMOUS" %}
																	{{ 'Not registrered'|trans }}
																{% else %}
																	{{ 'registred'|trans }}
																{% endif %}
															</td>
														{% endif %}
														<td>
															{% if user.roles[0] == "ROLE_ADMIN" %}
																{{ 'Super Admin'|trans }}
															{% elseif user.roles[0] == "ROLE_COMPANY_ADMIN" %}
																{{ 'Admin'|trans }}
															{% elseif user.roles[0] == "ROLE_COMPANY_MANAGER" %}
																{{ 'Manager'|trans }}
															{% elseif user.roles[0] == "ROLE_USER" %}
																{{ 'User'|trans }}
															{% else %}
																{{ 'Unregistered'|trans }}
															{% endif %}
														</td>
														{% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_COMPANY_MANAGER') %}
															<td>
																{% if app.request.locale == 'en' %}
																	{% if user.group.translations.en.name is defined %}
																		{{ user.group.translations.en.name }}
																	{% endif %}
																{% else %}
																	{% if user.group.translations.fr is defined %}
																		{{ user.group.translations.fr.name }}
																	{% endif %}
																{% endif %}
															</td>
														{% endif %}
														{% if not is_granted('ROLE_ADMIN') %}
															<td>
																{% if user.quizStatus == 1 %}
																	{{ 'quiz_status_never_answered'|trans }}
																{% elseif user.quizStatus == 2 %}
																	{{ 'quiz_status_ok'|trans }}
																{% elseif user.quizStatus == 3 %}
																	{{ 'quiz_status_ko'|trans }}
																{% elseif user.quizStatus == 4 %}
																	{{ 'quiz_status_expired'|trans }}
																{% elseif user.quizStatus == 5 %}
																	{{ 'quiz_status_blacklisted'|trans }}
																{% endif %}
															</td>
															<td>
																{% if user.isBlacklisted == true %}
																	<span class="badge badge-danger">{{ 'Yes'|trans }}</span>
																{% else %}
																	<span class="badge badge-success">{{ 'No'|trans }}</span>
																{% endif %}
															</td>
														{% endif %}
														<td>
															{{ user.indicator }}
															{{ user.phone }}
														</td>
														<td>
															{% if user.isEnabled == true %}
																<span class="badge badge-success">{{ 'Enabled'|trans }}</span>
															{% else %}
																<span class="badge badge-danger">{{ 'Disabled'|trans }}</span>
															{% endif %}
														</td>
														<td>{{ user.createdAt|date('y/m/d') }}</td>
														<td>
															<div class="form-button-action">
																{% if app.user.id != user.id %}
																	{% if user.roles[0] == 'ROLE_ANONYMOUS' %}
																		<a href="{{ path('admin_user_show', {'id':user.id}) }}">
																			<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="{{ 'Show User'|trans }}">
																				<i class="la flaticon-medical"></i>
																			</button>
																		</a>

																		{% if user.email != 'user_with_no_Email@mo.com' %}
																			<a href="{{ path('admin_switch_user', {'id':user.id}) }}">
																				<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="{{ 'Switch to registred user'|trans }}">
																					<i class="la flaticon-next"></i>
																				</button>
																			</a>
																		{% endif %}

																		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMPANY_ADMIN') %}
																			<button id="deleteUser" onclick="deleteUser({{ user.id }})" type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="{{ 'remove'|trans }}">
																				<i class="la la-times"></i>
																			</button>
																		{% endif %}
																	{% endif %}
																	{% if user.roles[0] != 'ROLE_ANONYMOUS' and (is_granted('ROLE_ADMIN') or is_granted('ROLE_COMPANY_ADMIN')) %}
																		<a href="{{ path('admin_user_edit', {'id':user.id}) }}">
																			<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="{{ 'edit'|trans }}">
																				<i class="la la-edit"></i>
																			</button>
																		</a>
																		<button id="deleteUser" onclick="deleteUser({{ user.id }})" type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="{{ 'remove'|trans }}">
																			<i class="la la-times"></i>
																		</button>
																	{% elseif is_granted('ROLE_COMPANY_MANAGER') and user.roles[0] == 'ROLE_USER' and user.roles[0] != 'ROLE_ANONYMOUS' %}
																		<a href="{{ path('admin_user_edit', {'id':user.id}) }}">
																			<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="{{ 'edit'|trans }} ">
																				<i class="la la-edit"></i>
																			</button>
																		</a>
																	{% endif %}
																	{% if is_granted('ROLE_ADMIN') and user.roles[0] == 'ROLE_COMPANY_ADMIN' and user.company.isArchived == false %}
																		<a href="?_switch_user={{ user.email|url_encode }}">
																			<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="{{ 'switch'|trans }}">
																				<i class="la flaticon-repeat"></i>
																			</a>
																		{% endif %}
																	{% endif %}
																</div>
															</td>
														</td>
													</tr>
												{% endfor %}

											</tbody>
										</table>
										{% if app.user.roles[0] == 'ROLE_ADMIN' or app.user.roles[0] == 'ROLE_COMPANY_ADMIN' %}
											<button id="deleteSelectedUser" class="btn btn-default btn-sm ml-3" style="display: none" onclick="deleteSelectedUser()">
												<span class="btn-label">
													<i class="la la-archive"></i>
												</span>
												{{ 'delete'|trans }}
											</button>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% include 'admin/commons/utils/pagination.html.twig' with { 'page': app.request.query.get('page', 1), 'pages': pages } only %}
			</div>

		</div>
		{# end datatable #}
	</div>
	<input type="hidden" id="data-message" value="{{ dataMessage }}">


{% endblock %}
