{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'update_user'|trans }} {% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            {% include 'admin/partial/logoheader.html.twig' %}
            <!-- End Logo Header -->
            {% include 'admin/partial/navbar.html.twig' %}
        </div>
        {% include 'admin/partial/sidebar.html.twig' %}
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="page-header">
                        <h4 class="page-title">{{ 'Users'|trans }} </h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">{{ 'Users'|trans }} </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">{{ 'update_user'|trans }} </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <form method="post" enctype="multipart/form-data" novalidate>

                                    <div class="card-body">
                                        {# New form #}

                                        <div class="form-group form-show-validation row">
                                            <label for="username" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Email
                                                <span class="required-label">*</span></label>
                                            <div class="col-lg-4 col-md-9 col-sm-8">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="username-addon">@</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="username"
                                                           aria-label="username" aria-describedby="username-addon"
                                                           id="username" name="username" disabled
                                                           value="{{ user.email }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group form-show-validation row">
                                            <label for="username"
                                                   class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">{{ 'First name'|trans }}
                                                <span class="required-label">*</span></label>
                                            <div class="col-lg-4 col-md-9 col-sm-8">
                                                <input type="text" class="form-control" disabled
                                                       value="{{ user.firstName }}">
                                            </div>
                                        </div>

                                        <div class="form-group form-show-validation row">
                                            <label for="username"
                                                   class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">{{ 'Last name'|trans }}
                                                <span class="required-label">*</span></label>
                                            <div class="col-lg-4 col-md-9 col-sm-8">
                                                <input type="text" class="form-control" disabled
                                                       value="{{ user.lastName }}">
                                            </div>
                                        </div>

                                        <div class="form-group form-show-validation row">
                                            <label for="username"
                                                   class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">{{ 'Role'|trans }}
                                                <span class="required-label">*</span></label>
                                            <div class="col-lg-4 col-md-9 col-sm-8">
                                                <input type="text" class="form-control" disabled
                                                       value="{{ user.roles[0] }}">
                                            </div>
                                        </div>

                                        <div class="seperator-solid"></div>

                                        {% if user.ic != null %}
                                            <div class="form-group form-show-validation row">
                                                <label for="username"
                                                       class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Ic</label>
                                                <div class="col-lg-4 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" disabled
                                                           value="{{ user.ic }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if user.qr != null %}
                                            <div class="form-group form-show-validation row">
                                                <label for="username"
                                                       class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Qr Code
                                                    <span class="required-label"></span></label>
                                                <div class="col-lg-4 col-md-9 col-sm-8">
                                                    <div class="input-group mb-3">
                                                        <img src="{{ asset('uploads/qrcode/' ~ user.qr ~'.png') }}"
                                                             width="120">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="form-group form-show-validation row">
                                            <label for="username"
                                                   class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">{{  'Phone (optional)'|trans }}
                                                <span class="required-label"></span></label>
                                            <div class="col-lg-4 col-md-9 col-sm-8">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" disabled
                                                           value="{{ user.indicator }}">
                                                    <input type="text" class="form-control" disabled
                                                           value="{{ user.phone }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group form-show-validation row">
                                            <label for="username"
                                                   class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">{{ 'language_preferences'|trans }}
                                                <span class="required-label"></span></label>
                                            <div class="col-lg-4 col-md-9 col-sm-8">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" disabled
                                                           value="{{ user.contactLanguage }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group form-show-validation row">
                                            <label for="birth"
                                                   class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">{{ 'blacklisted'|trans }} </label>
                                            <div class="col-lg-4 col-md-9 col-sm-8">
                                                <div class="select2-input">
                                                    {% if user.isBlacklisted %}
                                                        <span class="badge badge-success">
                                                            {{ 'Yes'|trans }}
                                                        </span>
                                                    {% else %}
                                                        <span class="badge badge-warning">
                                                            {{ 'No'|trans }}
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        {% if user.group %}
                                            <div class="form-group form-show-validation row">
                                                <label for="birth"
                                                       class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">{{ 'groupe'|trans }} </label>
                                                <div class="col-lg-4 col-md-9 col-sm-8">
                                                    <div class="select2-input">
                                                        <input type="text" class="form-control" disabled
                                                               value="{{ user.group }}">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if user.photo %}
                                        <div class="form-group form-show-validation row">
                                            <label class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">{{ 'Photo'|trans }} <span class="required-label"></span></label>
                                            <div class="col-lg-4 col-md-9 col-sm-8">
                                                <div class="input-file input-file-image">
                                                    <img class="img-upload-preview img-circle" width="100" height="100" src="{{ asset('uploads/' ~ user.photo) }}" alt="preview">
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}

                                    </div>
                                    <div class="card-action">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="{{ app.request.server.get('HTTP_REFERER') }}" class="btn btn-primary">
                                                        <span class="btn-label">
                                                            <i class="la flaticon-left-arrow-4"></i>
                                                        </span>
                                                    {{ 'Back'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            {# end form #}
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}
